<div class="d-flex justify-content-center">
  <div class="col-8">
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
      <div class="row mb-3 mt-2">
        <label for="number">Number of days</label>
        <input
          type="number"
          class="form-control"
          formControlName="nrOfDays"
          placeholder="Enter a number of days"
          min="1"
        />
        <p
          class="text-danger"
          *ngIf="
            form.controls['nrOfDays'].invalid &&
            form.controls['nrOfDays'].touched
          "
        >
          Field is required!
        </p>
      </div>
      <hr />
      <div *ngFor="let country of countries; let i = index">
        <input
          class="form-check-input"
          type="checkbox"
          formArrayName="selectedCountries"
          [value]="country.value"
          (change)="onCheckboxChange($event)"
        />
        <label class="form-label">{{ country.name }}</label>
      </div>
      <hr />
      <div class="mb-3">
        <label class="form-label">Upload your file here!</label>
        <input class="form-control" type="file" (change)="getFile($event)" />
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <hr />
    <p class="h2">
      {{ form.value | json }}
    </p>
  </div>
</div>
